* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: #d67ab1;
    --heading-text-color: #a8dcd9;
    --heading-font: font-family: 'Font Diner', Fontdiner Swanky;
    --padding: 1rem;
    --border: 1px solid #a8dcd9;
    --backgroud-color: white;
}

nav {
<<<<<<< HEAD
    background-color: #60435f;
    padding: 10px;
=======
    background-color: rgb(255, 0, 128);
    padding: 0;
>>>>>>> 085d86d40719d17848e9388a42d8642ffc82fcbf
}

nav a {
    color: #fdf7fa;
    display: block;
    padding: 0;
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid hotpink;
<<<<<<< HEAD
=======
    padding: 0;
>>>>>>> 085d86d40719d17848e9388a42d8642ffc82fcbf
    box-shadow: 0 0 30px rgb(0, 0, 0);
    padding: var(--padding);
    margin: auto;
    float: right;
}

p {
<<<<<<< HEAD
    padding: var(--padding);
=======
    padding: 0;
>>>>>>> 085d86d40719d17848e9388a42d8642ffc82fcbf
}

main {
    max-width:fit-content;
    margin: auto;
}

aside {
    width: 800px;
    margin: auto;
    border: 2px solid purple;
    box-shadow: 0 0 30px black;
<<<<<<< HEAD
    padding: var(--padding);
=======
    padding: 0;
>>>>>>> 085d86d40719d17848e9388a42d8642ffc82fcbf
    background-color: rgb(255, 212, 233);
    color: rgb(0, 0, 0);
    text-align: center;
}

aside h2 {
    position: absolute;
    bottom: 120px;
    left: 385px;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid hotpink;
    box-shadow: 0 0 30px rgb(0, 0, 0);
<<<<<<< HEAD
    padding: var(--padding);
=======
    padding: 0;
>>>>>>> 085d86d40719d17848e9388a42d8642ffc82fcbf
}

footer {
    margin-top: 20px;
    border-top: 1px solid black;
    text-align: center;
}
<<<<<<< HEAD

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: var(--backgroud-color);
    color: black;
}
=======
>>>>>>> 085d86d40719d17848e9388a42d8642ffc82fcbf
